div.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 10000;
  background: $colors_blue_primary;
  padding: 1.4em 0 0 0;
  @include transition_default;

  div.sidenavcentre {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  div.logo-wrapper {
    img {
      width: 7.5em;
      display: table;
    }
  }

  div.close-wrapper {
    padding-top: 0.45em;
  }

  div.close {
    text-align: right;

    a {
      color: $colors_white;

      svg {
        width: 24px;
        height: 24px;
        margin: 0.34em -0.16em 0 0;
      }
    }
  }

  &.open {
    visibility: visible;
    opacity: 1;
    @include transition_default;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  div.cp-content {
    text-align: center;
    margin-top: 2em;

    a img {
      height: 6em;
    }

    div.links {
      max-height: calc(100vh - 7em);
      overflow-y: auto;
      margin-top: 2em;

      /* width */
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      a {
        display: block;
        color: $colors_white;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        font-size: 1.7em;
        margin-bottom: 0.9em;
        @include transition_default;

        &:last-child {
          margin-bottom: 0em;
        }

        svg {
          font-size: 1em;
          padding-top: 0.3em;
        }
      }
    }
  }

  &.thinking {
    background: $colors_midnight_primary url('../img/matrix.svg') repeat;
    background-size: 1.4em;

    h3 {
      font-size: 2.5em;
      color: #fff;
      text-align: left;
    }

    div.cp-content {
      padding-top: 2em;

      div.links a {
        text-align: left;
		font-size: 1.25em;
		
		&.active {
			color: $colors_orange_primary;
			text-decoration: underline;
		}
      }
    }

    div.close {
      position: absolute;
      bottom: 2em;
      left: 0;
      width: 100%;
	  text-align: center;
	  text-transform: uppercase;
    }
  }
}
