div.app-wrapper {

  div.app-container {
    position: relative;
    transition: all 0.2s ease-out;

    div.overlay {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
      z-index: 100;
      cursor: pointer;
      transition: all 0.2s ease-out;
    }

    &.sidenav-open {
      // transform: translateX(-16.875em);
      transition: all 0.2s ease-out;

      div.overlay {
        opacity: 1;
        visibility: visible;
        transition: all 0.2s ease-out;
      }
    }
  }
}

div.container {
  width: 100%;
  padding-right: 4em;
  padding-left: 4em;
  margin-right: auto;
  margin-left: auto;
 // max-width: 1400px;
  max-width: unset !important;
}

// Phone
@media (max-width: 768px) {
  div.container {
    padding-right: 32px;
    padding-left: 32px;
  }
}

// @media (min-width: 1601px) {
// div.container {
//  width: 1600px;
//  }
// }
