div.footer_cta {
  padding: 4em 0;

  @media screen and (max-width: 768px) {
    text-align: center;
  }

  p.cp-title {
    font-size: 2.4em;
    line-height: 1.2em;
    color: $colors_blue_primary;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28em;
  z-index: -1;
  background: $colors_blue_primary url("../img/matrix.svg") repeat;
  color: #fff;
  padding: 8em 0 0;

  @media screen and (max-width: 768px) {
    padding: 3.5em 0 0 0;
  }

  div.footer-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  div.container {
    height: 100%;
  }

  h6 {
    font-size: 2.2em;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  svg {
    color: white;
  }

  div.bottom-links {
    position: absolute;
    bottom: 2.5em;
    left: 0;
    width: 100%;

    @media screen and (max-width: 768px) {
      text-align: center;

      div.column.is-narrow {
        padding-bottom: 0;
      }

      div.column.right-links {
        margin-bottom: 2em;
      }
    }

    img {
      width: 7em;
    }

    div.right-links {
      display: inline-flex;
      flex-direction: row-reverse;
      font-size: 0.7em;

      @media screen and (max-width: 768px) {
        font-size: 0.9em;
      }

      div {
        padding-right: 2em;

        &.last {
          padding-right: 0;
        }
      }
    }
  }
}
