div.footer_cta {
  padding: 4em 0;

  @media screen and (max-width: 768px) {
    text-align: center;
  }

  p.cp-title {
    font-size: 2.4em;
    line-height: 1.2em;
    color: $colors_blue_primary;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28em;
  z-index: -1;
  background: $colors_blue_primary url('../img/matrix.svg') repeat;
  background-size: 1.4em;
  color: $colors_white;
  padding: 8em 0 0;

  @media screen and (max-width: 768px) {
    height: 37em;
  }

  a {
    color: #fff;
    @include transition_default;

    &:hover {
      color: $colors_orange_primary;
      border-bottom: 1px solid $colors_orange_primary;
      @include transition_default;
    }

    &.cp-lang-switcher {
      &.active {
        padding-bottom: 2px;
        border-bottom: 1px solid #fff;
        @include transition_default;
        &:hover {
          color: #fff;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 3.5em 0 0 0;
  }

  div.footer-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  div.container {
    height: 100%;
  }

  h6 {
    font-size: 2.2em;
    @include Roobert_Medium;

    a {
      color: $colors_white;
      border-bottom: 1px solid #fff;
      @include transition_default;
      &:hover {
        color: $colors_orange_primary;
        border-bottom: 1px solid $colors_orange_primary;
      }
    }
  }

  svg {
    color: $colors_white;
  }

  div.bottom-links {
    position: absolute;
    bottom: 2.5em;
    left: 0;
    width: 100%;

    @media screen and (max-width: 768px) {
      text-align: left;

      div.column {
        &:not(.right-links) {
          font-size: 1.2em;
        }

        &.is-narrow {
          padding-bottom: 0;
        }
      }
    }

    img {
      width: 7em;
    }

    div.right-links {
      display: inline-flex;
      flex-direction: row-reverse;
      font-size: 0.7em;

      div {
        padding-right: 2em;

        &.last {
          padding-right: 0;
        }
      }

      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
        font-size: 0.9em;
        margin-top: 2em;

        div {
          padding-right: 0;
          padding-bottom: 1em;

          &.cp-lang-switcher {
            margin-top: 2em;
          }
        }
      }
    }
  }
}
