.header_extension {
  padding: 5em 0 0 0;

  @media (max-width: 768px) {
    padding: 6em 0 0 0;
  }

  .heading_lg {
    font-size: 2.375em !important;
    padding-top: 1em;

    @media (min-width: 768px) {
      font-size: 2.625em !important;
    }

    @media (min-width: 880px) {
      font-size: 2.75em !important;
    }

    @media (min-width: 1000px) {
      font-size: 3.75em !important;
    }

    @media screen and (min-width: 768px) and (max-height: 900px) {
      font-size: 2.625em !important;
    }
  }

  p {
    font-size: 1.5em;
  }

  &.home {
    background: $colors_blue_primary url('../img/matrix.svg') repeat;
    background-size: 1.5em;

    div.bg {
      position: relative;
      min-height: 75vh;
      max-height: 650px;

      div.cp-hero {
        position: absolute;
        bottom: 4em;
        left: 0;
        color: $colors_white;
        width: 100%;
        // max-width: 900px;

        @media screen and (max-width: 768px) {
          // position: static;
          // attn Eliad
        }

        img {
          height: 11.375em;
          z-index: 9999;

          &#cp_hero_logo {
            position: fixed;
            animation: all 0.2s ease-out;
            margin-left: 4em;

            @media (max-width: 768px) {
              margin-left: 32px;
            }
          }

          &#cp_hero_logo_hidden {
            opacity: 0;
            transform-origin: bottom left;
          }
        }

        h1 {
          font-size: 5em;
          line-height: 1em;
          margin: 0.25em 0 0.5em 0;
          margin-left: -3px;

          @media (max-width: 768px) {
            font-size: 4em;

            br {
              display: none;
            }
          }
        }
      }
    }
  }

  &.capabilities {
    background: $colors_midnight_primary url('../img/matrix.svg') repeat;
    background-size: 1.5em;

    p {
      max-width: 600px;
    }

    div.bg div.cp-hero {
      @media (max-width: 768px) {
        position: static;
      }

      div.cp-copy {
        flex-direction: column;
        display: flex;
        align-self: flex-end;

        h1 {
          @media (max-width: 930px) {
            font-size: 3.5em;
          }
        }

        p {
          margin-bottom: 0;

          @media (max-width: 930px) {
            font-size: 1.25em;
          }
        }
      }

      div.cp-img {
        text-align: right;

        @media (max-width: 768px) {
          text-align: center;
          margin-top: 2em;
        }

        svg {
          width: 22em;
          height: 22em;

          @media (max-width: 1000px) {
            width: 19em;
            height: 19em;
          }

          @media (max-width: 915px) {
            width: 17em;
            height: 17em;
          }

          @media (max-width: 866px) {
            width: 14em;
            height: 14em;
          }

          @media (max-width: 768px) {
            width: 16em;
            height: 16em;
            margin-bottom: 2em;
          }
        }

        .st0 {
          fill: none;
          stroke: $colors_white;
          stroke-width: 8;
          stroke-linejoin: round;
        }

        /***************************************************
 * Generated by SVG Artista on 1/31/2021, 9:16:35 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/
        svg .svg-elem-1 {
          stroke-dashoffset: 1262.541748046875px;
          stroke-dasharray: 1262.541748046875px;
          transition: none;
        }

        svg.active .svg-elem-1 {
          stroke-dashoffset: 0;
          -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
            0s;
        }

        svg .svg-elem-2 {
          stroke-dashoffset: 1262.54150390625px;
          stroke-dasharray: 1262.54150390625px;
          transition: none;
        }

        svg.active .svg-elem-2 {
          stroke-dashoffset: 0;
          -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.12s;
        }

        svg .svg-elem-3 {
          stroke-dashoffset: 1262.541748046875px;
          stroke-dasharray: 1262.541748046875px;
          transition: none;
        }

        svg.active .svg-elem-3 {
          stroke-dashoffset: 0;
          -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.24s;
        }

        svg .svg-elem-4 {
          stroke-dashoffset: 1246.980712890625px;
          stroke-dasharray: 1246.980712890625px;
          transition: none;
        }

        svg.active .svg-elem-4 {
          stroke-dashoffset: 0;
          -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.36s;
        }

        svg .svg-elem-5 {
          stroke-dashoffset: 1247.083251953125px;
          stroke-dasharray: 1247.083251953125px;
          transition: none;
        }

        svg.active .svg-elem-5 {
          stroke-dashoffset: 0;
          -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.48s;
        }

        svg .svg-elem-6 {
          stroke-dashoffset: 1632.7960205078125px;
          stroke-dasharray: 1632.7960205078125px;
          transition: none;
        }

        svg.active .svg-elem-6 {
          stroke-dashoffset: 0;
          -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.6s;
        }

        svg .svg-elem-7 {
          stroke-dashoffset: 1632.6214599609375px;
          stroke-dasharray: 1632.6214599609375px;
          transition: none;
        }

        svg.active .svg-elem-7 {
          stroke-dashoffset: 0;
          -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.72s;
        }
      }
    }
  }

  &.news {
    padding: 9em 0 0 0;
  }

  &.thinking {
    padding: 8em 0 2em 0;

    h1 {
      padding-top: 0;
      @include Roobert_SemiBold;
    }

    div.columns {
      margin-right: 0;

      @media screen and (max-width: 1175px) {
        flex-direction: column;
      }

      div.cp-spacer {
        flex-grow: 1;

        @media screen and (max-width: 1175px) {
          display: none;
        }
      }
    }

    div.cp-filter {
      display: table;
      margin: auto;

      @media screen and (max-width: 1175px) {
        margin-left: 0;
        padding: 0.75rem;
      }

      ul {
        display: inline-flex;
        flex-wrap: wrap;
        font-size: 1.125em;
        margin-top: 1.25em;
        justify-content: center;

        li {
          margin: 1em;
          margin-bottom: 0;
          padding-bottom: 0.15em;
          border-bottom: 2px solid transparent;
          @include transition_default;

          a {
            color: $colors_midnight_primary;

            &:hover {
              color: $colors_red_primary;
            }
          }

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          &.active {
            border-bottom: 2px solid $colors_blue_primary;
            @include transition_default;

            a {
              color: $colors_blue_primary;
            }
          }
        }

        @media screen and (max-width: 1175px) {
          display: none;
        }
      }

      a.button.primary {
        display: none;
        background: $colors_midnight_primary;
        padding: 1.75em 1.25em;

        &:hover {
          color: $colors_white;
        }

        &:hover {
          background: $colors_blue_primary;
          color: $colors_white;
        }

        svg {
          font-size: 1.125em;
        }

        @media screen and (max-width: 1175px) {
          display: inline-flex;
        }
      }
    }

    div.cp-desc {
      div.column.cp-spacer {
        @media screen and (max-width: 1175px) {
          display: none;
        }
      }

      div.column.cp-text {
        @media screen and (max-width: 1175px) {
          width: 100%;

          p {
            margin-top: 0;
          }
        }
      }
    }
  }

  &.no_bg {
    padding: 10em 0 8em 0;
  }
}
