div.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: none;
  z-index: 99;
  transition: all 0.1s ease-out;

  &.idle-light nav.navbar a.navbar-item.link {
    color: $colors_white;
  }

  &.hidden {
    top: -150px;
    transition: 0.2s ease-out;
  }

  nav.navbar {
    position: relative;
  }

  div.navbar-end {
    position: absolute;
    right: 0;
	  top: 48%;
    transform: translateX(0) translateY(-50%);
    transition: all 0.15s ease-out;
  }

  div.navbar-brand {
    a.navbar-burger {
      border-radius: 50%;
      transition: all 0.15s ease-out;
      display: table;

      @media screen and (min-width: 1024px) {
        position: absolute;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
      }
    }
  }

  &.white {
    // background: white;
    // box-shadow: 0 2px 16px rgba(0, 0, 0, 0.05);

    // nav.navbar a.navbar-item.link {
    //   color: $colors_blue_primary;
    // }

    div.navbar-brand {
      align-items: stretch;
      display: flex;
      flex-shrink: 0;
      min-height: 3.25rem;
      width: 100%;

      a.navbar-burger {
        display: table;
        margin-left: auto;
        background: $colors_white;
        border-radius: 50%;
        transform: none;
        color: $colors_blue_primary;
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        transition: all 0.15s ease-out;
      }
    }

    div.navbar-end {
      transform: translateX(-15%) translateY(-50%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.15s ease-out;
    }

    // div.navbar-menu {
    //   display: none;
    // }
  }
}

nav.navbar {
  @include Roobert_Medium;
  background: transparent;
  padding: 0.5em 0;

  a.logo {
    margin: auto 0;

    img {
      display: table;
      max-height: 3em;
    }
  }

  a.navbar-item.link {
    color: $colors_blue_primary;
    font-size: 1.125em;
    padding: 0.5rem 1rem;

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      opacity: 0.72;
      background: none;
    }

    &:focus,
    &:focus-within {
      background: transparent;
    }

    svg {
      margin-left: 0.375em;
    }
  }

  .navbar-burger {
    // transform: translateX(1.13rem);
    color: $colors_blue_primary;
    height: 3rem;
    width: 3rem;
    margin-top: 0.25rem;

    span {
      height: 2px;
      width: 16px;

      &:nth-child(1) {
        top: calc(50% - 4px);
      }

      &:nth-child(2) {
        top: 55%;
      }
    }

    &:hover {
      background: transparent;
    }
  }

  div.columns {
    margin: 0;
    padding: 0;
    width: 100%;

    div.column {
      margin: 0;
      padding: 0;
    }

    div.column.logo {
      height: 1.875em;
    }

    div.column.hamburger {
      position: relative;
      text-align: right;

      div.hbwrapper {
        position: absolute;
        transform: translate(0, -50%);
        right: 0;
        top: 50%;
        width: 1em;
        height: 0.5em;

        a {
          position: absolute;
          top: -100%;
          left: -62%;
          display: block;
          width: 225%;
          height: 300%;
          z-index: 10;
        }
        span {
          position: absolute;
          display: block;
          width: 100%;
          height: 1px;

          &.top {
            top: 0;
          }

          &.bottom {
            bottom: 0;
          }
        }
      }
    }
  }
}

div.site-header.idle-light {
  transition: 5s ease-out;

  .navbar-burger {
    color: $colors_white;
  }
}

div.navbar-brand {
  margin: 0 !important;

  a.navbar-item {
    padding-left: 0;
    padding-right: 0;
  }
}

div.navbar-end {
  div.navbar-dropdown {
    top: 95%;
    border-radius: 0.3em;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    border: none;
    box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.05);
  }
}
