$slider_arrow_size: 1.5;

@mixin section_padding {
  padding: 7em 0;

  @media screen and (max-width: 768px) {
    padding: 4em 0;
  }
}

div.page-single {
  padding: 12em 0 0 0;

  h1 {
    font-size: 4em !important;
  }
}

div.pages-index {
  h3 {
    font-size: 2em;
  }

  p.secondary {
    @include Roobert_Medium;
    font-weight: 500;
    font-size: 1em;
  }

  p.color_secondary {
    @include Roobert_Medium;
  }

  p.tertiary {
    @include Roobert_Medium;
  }

  a.text-link {
    display: inline-table;
    font-size: 0.88em;
    @include Roobert_Medium;
    margin-top: 0.85em;
  }

  div.section-why {
    @include section_padding;
  }

  div.section-cases {
	@include section_padding;
	padding-top: 0;

    div.cp-wide {
      display: table;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    div.cp-mobile {
      display: none;

      @media screen and (max-width: 768px) {
        display: table;
      }
    }

    div.columns {
      font-size: 0.9em;

      div.column {
        &.cp-photo {
          padding-bottom: 0;
        }

        a {
          color: $colors_blue_dark;
          width: 100%;
          height: 100%;
        }
      }
    }

    div.columns.is-mobile,
    div.column.is-mobile {
      font-size: 1em;

      img {
        margin-bottom: 1em;
      }
    }

    div.column.is-mobile {
	  margin-bottom: 1.5em;
	  
	  &:last-child {
		  margin-bottom: 0;
	  }
    }

    p.cp-company {
      font-size: 0.8em;
      color: $colors_grey_dark;
    }

    p.cp-category {
      color: $colors_red_primary;
      font-size: 0.8em;
    }
  }

  div.section-writeup {
    @media screen and (max-width: 768px) {
      div.columns {
        flex-direction: column;
      }
    }
  }

  div.section-writeup,
  .section-writeup2 {
    @include section_padding;

    img {
      width: 100%;
    }

    p {
      color: $colors_blue_dark;
    }

    a.button {
      margin-top: 1.5em;
    }

    @media screen and (max-width: 768px) {
      img {
        margin-bottom: 1em;
      }
    }
  }

  div.section-partners {
    @include section_padding;
    padding-top: 0;

    h3 {
      margin-bottom: 2em;
    }

    @mixin white-gradient {
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    $animationSpeed: 40s;

    // Animation
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-250px * 7));
      }
    }

    // Styling
    .slider {
      //   box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
      height: 100px;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 100%;

      &::before,
      &::after {
        // @include white-gradient;
        content: '';
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
      }

      &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
      }

      &::before {
        left: 0;
        top: 0;
      }

      .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(250px * 14);
      }

      .slide {
        height: 100px;
        width: 250px;
      }
    }
  }
}
