$slider_arrow_size: 1.5;

@mixin section_padding {
  padding: 7em 0;

  @media screen and (max-width: 768px) {
    padding: 4em 0;
  }
}

div.page-single {
  padding: 12em 0 0 0;

  h1 {
    font-size: 4em !important;
  }
}

div.pages-index {
  h3 {
    font-size: 2em;
  }

  p.secondary {
    @include Roobert_Medium;
    font-weight: 500;
    font-size: 1em;
  }

  p.color_secondary {
    @include Roobert_Medium;
  }

  p.tertiary {
    @include Roobert_Medium;
  }

  a.text-link {
    display: inline-table;
    font-size: 0.88em;
    @include Roobert_Medium;
    margin-top: 0.85em;
  }

  div.section-why {
    @include section_padding;
  }

  div.section-cases {
    @include section_padding;
    padding-top: 0;

    div.cp-wide {
      display: table;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    div.cp-mobile {
      display: none;

      @media screen and (max-width: 768px) {
        display: table;
      }
    }

    div.columns {
      font-size: 0.9em;

      div.column {
        &.cp-photo {
          padding-bottom: 0;
        }

        a {
          color: $colors_midnight_primary;
          width: 100%;
          height: 100%;
        }
      }
    }

    div.columns.is-mobile,
    div.column.is-mobile {
      font-size: 1em;

      img {
        margin-bottom: 1em;
      }
    }

    div.column.is-mobile {
      margin-bottom: 1.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    p.cp-company {
      font-size: 0.8em;
      color: $colors_midnight_secondary;
    }

    p.cp-category {
      color: $colors_red_primary;
      font-size: 0.8em;
    }
  }

  div.section-writeup,
  .section-writeup2 {
    @include section_padding;

    img {
      width: 100%;
    }

    p {
      color: $colors_midnight_primary;
    }

    a.button {
      margin-top: 1.5em;
    }

    @media screen and (max-width: 768px) {
      img {
        margin-bottom: 1em;
      }
    }
  }

  div.section-writeup {
    @media screen and (max-width: 768px) {
      div.columns {
        flex-direction: column;
      }
    }

    p {
      @include transition_default;
    }

    &.scroll-focused {
      p {
        color: $colors_white;
      }

      a.button {
        background: $colors_white;
      }
    }
  }

  div.section-partners {
    @include section_padding;
    padding-top: 0;

    h3 {
      margin-bottom: 2em;
    }

    @mixin white-gradient {
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    $animationSpeed: 40s;

    // Animation
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-250px * 7));
      }
    }

    // Styling
    .slider {
      height: 320px;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 100%;

      //   &::before,
      //   &::after {
      //     // @include white-gradient;
      //     content: '';
      //     position: absolute;
      //     height: 400px;
      //     width: 400px;
      //     z-index: 2;
      //   }

      &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
      }

      &::before {
        left: 0;
        top: 0;
      }

      img {
        width: 80%;
      }

      .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(450px * 16);
      }

      .slide {
        height: 320px;
        width: 400px;
      }
    }
  }
}

div.pages-capabilities {
  div.section-writeup,
  div.section-writeup2 {
    @include section_padding;
    padding-bottom: 0;

    &:last-child {
      padding-bottom: 7em;
    }

    h2 {
      @include Roobert_Medium;
      margin-bottom: 0.7em;
      font-size: 2em;
      line-height: 1em;
    }

    a {
      display: block;
      margin-top: 1em;
      color: $colors_blue_primary;
      font-size: 0.85em;
      @include Roobert_SemiBold;

      span {
        text-decoration: underline;
      }

      svg {
        vertical-align: middle;
        margin-left: 0.5em;
      }
    }
  }
}

div.pages-thinking {
  .section-thinking {
    div.column {
      margin-bottom: 5em;

      a {
        color: $colors_blue_primary;
      }

      .cp-title {
        margin: 0.5em 0 1em 0;
        line-height: 1.375em;
        font-size: 1.375em;
      }

      img {
        margin-bottom: 1em;
      }

      div.cp-image {
        overflow: hidden;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          display: table;
          width: 100%;
          @include transition_default;
        }
      }

      p.cp-meta {
        span.cp-play {
          padding-right: 0;

          a {
            color: $colors_white;
            @include Roobert_SemiBold;

            span {
              position: relative;
              display: inline-block;
              width: 1.45em;
              height: 1.45em;
              border-radius: 50%;
              border: 2px solid $colors_blue_primary;
              //   margin-top: -0.15em;
              background: $colors_blue_primary;
              vertical-align: middle;

              svg {
                position: absolute;
                top: 50%;
                left: 53.5%;
                transform: translate(-50%, -50%);
              }
            }

            &:hover {
              text-decoration: none;
              box-shadow: none;
            }
          }
        }

        span.cp-category {
          font-size: 0.875em;
          padding: 0.5em 1em 0.6em 1em;
          border: 1px solid $colors_blue_primary;
          border-radius: 3em;
        }

        span.cp-date {
          padding-left: 0;

          span {
            font-size: 0.75em;
          }
        }
      }
    }

    a.cp-load-more {
      color: $colors_orange_primary;
      font-size: 2em;
      display: table;
      margin: auto;
      margin-top: -1.5em;
      padding: 0 0 3.5em 0;
    }
  }
}

div.pages-news {
  .section-news {
    padding: 1.5em 0 7em 0;

    @media screen and (max-width: 768px) {
      padding: 2em 0 2em 0;
    }

    @media screen and (max-width: 768px) {
      .heading_lg,
      .text-link {
        padding-left: 24px;
      }
    }

    div.column.is-1 {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    a.press-release {
      color: $colors_blue_primary;
      font-size: 1.2em;
      padding: 1.4em 0;
      margin: 0;
      border-top: 1px solid $colors_grey_light;
      @include transition_default;

      &:last-child {
        border-bottom: 1px solid $colors_grey_light;
      }

      &:hover {
        @include transition_default;
        color: $colors_orange_primary;

        p.cp-title {
          text-decoration: underline;
        }
      }

      @media screen and (max-width: 768px) {
        display: table;
        width: 100%;

        &:hover {
          box-shadow: none;
        }
      }

      p.cp-date {
        text-align: right;
        color: $colors_midnight_secondary;
        font-size: 0.85em;
        margin-top: 0.2em;

        @media screen and (max-width: 768px) {
          text-align: left;
          padding-top: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }

      p.cp-title {
        @media screen and (max-width: 768px) {
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

div.pages-careers {
  .section-careers {
    margin-top: 3em;

    h1 {
      font-size: 3em;
      line-height: 1em;
      @include Roobert_SemiBold;
    }

    p {
      margin: 0.8em 0;
      font-size: 1.2em;
    }

    a.button {
      margin-bottom: 4em;
      padding: 1.5em 1.75em 1.5em 2em;

      svg {
        font-size: 1.2em;
        margin-bottom: -0.175em;
        margin-left: 0.24em;
      }
    }

    img {
      display: table;
    }
  }
}

div.pages-sup {
  .section-header {
    padding: 3em 0;
    padding-top: 6em;
    background: $colors_blue_primary;
    color: #fff;

    p {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section-content {
    padding: 3em 0;
  }
}

/*
 *
	Contact page
 *
 */
div.post-single-heading.thinking.contact {
  background: $colors_red_primary url('../img/matrix.svg') repeat;
  background-size: 1.4em;
  color: #fff;
  margin-bottom: 0;

  & > div.columns {
	padding-top: 4.5em;
	margin-bottom: 0;
  }

  div.cp-meta {
    margin-top: 3em;
    padding-bottom: 4em;

    h2 {
      font-size: 3em;
      line-height: 1.1em;
    }

    p.cp-desc {
      font-size: 2em;
      margin-top: 1em;
      margin-bottom: 1.5em;
      line-height: 1.2em;
    }

    div.cp-contacts {
      div.columns {
        padding: 1em 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);

        a {
          color: #fff;
          text-decoration: underline;
          @include Roobert_Medium;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
div.pages-contact {
  div.form {
    padding: 7em 0;
    background: $colors_grey_light;

    .contact-info {
      h5 {
        font-size: 4.3em;
        line-height: 1.3em;
        margin-top: -0.2em;
        @include Roobert_SemiBold;
      }
    }

    input,
    textarea,
    select {
      background: transparent;
      border: 1px solid $colors_midnight_secondary;
      box-shadow: none;
    }

    div.select::after {
      border-color: $colors_midnight_primary;
    }

    button {
      margin-top: 2em;
      padding: 1.5em 1.5em;
      font-size: 0.75em;
    }
  }
}
