div.post-single-heading {
  padding: 8em 0 0 0;

  @media screen and (min-width: 769px) {
    margin-bottom: 3em;
  }

  h1 {
    font-size: 4vh;
    line-height: 1.25em;
  }

  p.cp-desc {
    margin: 0.5em 0 1em 0;
    font-size: 1.75em;

    @media screen and (max-width: 768px) {
      font-size: 1.25em;
      line-height: 1.4em;
    }
  }

  p.cp-date {
    font-size: 1.125em;
    margin: 0.25em 0 0.5em 0;
  }

  p.cp-company {
    color: $colors_midnight_secondary;
    font-size: 1.5em;
  }

  p.cp-controls {
    margin: 1.5em 0 3em 0;

    a {
      i {
        font-style: normal;
        font-size: 1.125em;
      }

      &.cp-watch-case-study {
        span {
          padding: 0.75em;
          font-size: 1.125em;
          background: $colors_blue_primary;
          color: $colors_white;
        }
      }

      &.cp-watch-spot {
        span {
          border-width: 1px;
        }
      }

      &:nth-child(2) {
        margin-left: 2em;
        padding-left: 2em;
        border-left: 1px solid $colors_grey_light;
      }
    }

    @media screen and (max-width: 768px) {
      margin-top: 1.5em;
      display: flex;
      flex-direction: column;

      a.cp-watch-case-study {
        margin-left: -0.1em;
      }

      a:nth-child(2) {
        margin: 0;
        padding: 0;
        margin-top: 1em;
        padding-top: 1em;
        border-left: none;
        border-top: 1px solid $colors_grey_light;
      }
    }
  }

  p.cp-category {
    font-size: 1em;
    color: $colors_red_primary;
    margin-top: 0.6em;
    text-transform: uppercase;
    @include Roobert_Medium;

    a {
      color: $colors_red_primary;
    }

    &.cp-regular {
      text-transform: none;
    }
  }

  p.cp-title {
    @include Roobert_SemiBold;
  }

  .cp-wide {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .cp-mobile {
    display: none;

    @media screen and (max-width: 768px) {
      display: table;
    }
  }

  a {
    color: $colors_blue_primary;
    @include Roobert_SemiBold;

    span {
      position: relative;
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      border: 2px solid $colors_blue_primary;
      margin-right: 0.5em;
      margin-top: -0.15em;
      vertical-align: middle;

      svg {
        position: absolute;
        top: 50%;
        left: 54.5%;
        transform: translate(-50%, -50%);
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  &.thinking {
    padding-top: 0;
    min-height: 100vh;

    & > div.columns {
      margin-top: 0;
      min-height: 100vh;
    }

    div.cp-desktop {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    div.cp-mobile {
      display: none;

      @media screen and (max-width: 768px) {
        display: table;
        width: 100%;
      }
    }

    &.oneeighty {
      background: $colors_blue_primary url('../img/matrix.svg') repeat;
      background-size: 1.5em;
      color: $colors_white;

      p.cp-category {
        color: $colors_white;
        text-transform: none;
        @include Roobert_Medium;

        svg {
          vertical-align: middle;
          font-size: 1.25em;
          margin-top: -0.1em;
          margin-right: 0.5em;
        }
      }

      p.cp-streaming-date {
        font-size: 1em;
        margin-top: 0.6em;
      }

      p.cp-play {
        margin-top: 1.5em;

        a {
          color: $colors_white;
          @include Roobert_SemiBold;

          span {
            position: relative;
            display: inline-block;
            width: 2.25em;
            height: 2.25em;
            border-radius: 50%;
            background: $colors_orange_primary;
            border: 2px solid $colors_orange_primary;
            margin-right: 0.85em;
            margin-top: -0.15em;
            vertical-align: middle;

            svg {
              font-size: 1.25em;
              color: $colors_white;
              position: absolute;
              top: 50%;
              left: 54.5%;
              transform: translate(-50%, -50%);
            }
          }

          i {
            font-size: 1.125em;
            font-style: normal;
          }

          &:hover {
            text-decoration: none;
          }
        }

        &.cp-reminder {
          a {
            span {
              background: transparent;
              border-color: #fff;
              border-width: 1px;

              svg {
                font-size: 1em;
                left: 52.5%;
              }
            }

            i {
              svg {
                margin-left: 0.5em;
                vertical-align: middle;
                margin-top: -0.1em;
              }
            }
          }
        }
      }

      div.cp-meta {
        @media screen and (max-width: 768px) {
          margin: 3em 0 0 0;
        }
      }
    }

    div.cp-image {
      background-size: cover;
      background-position: center;

      @media screen and (max-width: 768px) {
        img {
          width: 100%;
        }
      }
    }

    div.cp-meta {
      margin: 14em 0 0 5em;
      padding-bottom: 6em;

      @media screen and (max-width: 768px) {
        margin: 1.5em 0 0 0;
        padding-bottom: 3.5em;
      }

      h1 {
        font-size: 5vh;
        line-height: 1.25em;

        @media screen and (max-width: 768px) {
          font-size: 4vh;
        }
      }

      p.cp-author {
        text-transform: uppercase;
        color: $colors_midnight_secondary;
        font-size: 0.875em;
      }
    }
  }
}

div.columns.post-single.featured-image.ui-grid.post-html-img {
  margin-top: 4em;
}

div.post-body {
  margin: 2em 0 8em 0;
  color: $colors_midnight_primary;
  @include Roobert_Regular;

  @media screen and (min-width: 769px) {
    margin-top: 4em;
  }

  p {
    font-size: 1.25em;
    line-height: 1.875em;
    @media screen and (max-width: 768px) {
      font-size: 1.125em;
    }
  }

  a.cp-apply {
    padding: 1.5em;
    padding-right: 1.25em;
    margin-top: 1em;
  }

  hr {
    height: 2px;
    width: 80px;
    margin: 4em auto;
    background-color: $colors_grey_light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
    color: $colors_midnight_primary;
    line-height: 1.5em;
    @include Roobert_Medium;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.875em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.625em;
  }

  h5 {
    font-size: 1.5em;
  }

  h6 {
    font-size: 1.25em;
  }

  ol {
    margin-top: 0;
    margin-left: 1em;
  }

  li {
    font-size: 1.25em;
    line-height: 2em;
    @media screen and (max-width: 768px) {
      font-size: 1em;
    }
  }

  p a {
    color: $colors_blue_primary;
    border-bottom: 1px solid $colors_blue_primary;

    &:hover {
      color: $colors_red_primary;
      border-bottom: 1px solid $colors_red_primary;
    }
  }

  p:not(:last-child) dl:not(:last-child),
  ol:not(:last-child),
  ul:not(:last-child),
  blockquote:not(:last-child),
  pre:not(:last-child),
  table:not(:last-child) {
    margin-bottom: 2.5em !important;
  }

  b,
  strong {
    display: inline-block;
    background: -webkit-linear-gradient(45deg, #1226aa, #d50057);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include Roobert_SemiBold;
  }

  blockquote {
    background: transparent;
    border-left: 5px solid $colors_blue_primary;
    padding: 0 1.5em 0 2.5em;
    margin: 2em 0;

    strong,
    b {
      display: block;
      @include Roobert_Medium;
      font-size: 1.5em;
    }

    em {
      display: table;
      font-style: normal;
      margin-top: 2em;
    }

    @media screen and (max-width: 768px) {
      margin-top: 4em;
    }
  }

  div.columns.ui-grid:not(:first-child) {
    &.post-html-p {
      margin: 1em auto;
    }

    &.post-html-img {
      margin: 1em auto;
    }
  }

  div.cp-panel {
    margin-top: 4em;

    div.cp-panelist-image {
      @media screen and (min-width: 769px) {
        padding-right: 2em;
      }

      div.cp-image {
        position: relative;
        width: 7em;
        height: 7em;
        border-radius: 50%;

        @media screen and (max-width: 768px) {
          width: 4.25em;
          height: 4.25em;
        }

        &.cp-gradient {
          background: -webkit-linear-gradient(45deg, #1226aa, #d50057);
        }

        div.cp-img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 6.75em;
          height: 6.75em;
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          border: 2px solid $colors_white;

          @media screen and (max-width: 768px) {
            width: 4em;
            height: 4em;
          }
        }
      }
    }

    p.cp-heading {
      font-size: 0.625em;
      color: $colors_midnight_secondary;
      margin-bottom: 0;
      line-height: 1.2em;
      text-transform: uppercase;
      @include Roobert-Medium;
    }

    p.cp-name {
      margin: 0.25em 0;
      @include Roobert-SemiBold;
      font-size: 1em;
      line-height: 1.2em;
      width: 88%;
    }

    p.cp-title {
      margin-bottom: 0;
      line-height: 1.2em;
      color: $colors_midnight_primary;
      font-size: 0.75em;
      @include Roobert-Medium;
      width: 88%;
    }

    a.cp-linkedin {
      display: block;
      margin-top: 1em;
      color: $colors_blue_primary;
      font-size: 1em;
      text-decoration: underline;
      border-bottom: none;
      @include Roobert_SemiBold;

      &:hover {
        color: $colors_red_primary;
      }

      span {
        @include transition_default;
      }

      svg {
        vertical-align: middle;
      }
    }
  }
}

div.post {
  div.cp-tag {
    margin-top: 6em;
    text-align: center;

    a {
      background: $colors_red_primary;
      border: 2px solid transparent;
      color: $colors_white;

      &:hover {
        background: $colors_white;
        border: 2px solid $colors_red_primary;
        color: $colors_red_primary;
      }
    }
  }

  div.share-wrapper {
    margin-top: 3em;
    border-top: 1px solid $colors_grey_light;

    @media screen and (max-width: 768px) {
      border-top: none;
      margin-bottom: 6em;
    }
  }

  div.share {
    position: relative;
    // display: table;
    // margin: auto;

    div.column {
      @media screen and (max-width: 768px) {
        text-align: center;
        padding: 0;
      }
    }

    div.cp-title {
      span {
        @media screen and (min-width: 768px) {
          font-size: 0.75em;
          position: absolute;
          top: 50%;
          left: 0;
          transform: rotate(-90deg) translateX(25%);
          text-transform: uppercase;
        }
      }
    }

    button {
      background: transparent;
      color: $colors_blue_primary;
      border: none;
      border-radius: 0;
      padding: 2.25em 2.25em;
      font-size: 2.2vw;
      @include transition_default;

      &:last-child {
        margin-right: 0;
      }

      @media screen and (min-width: 769px) {
        &:hover {
          color: $colors_red_primary;
          text-decoration: underline;
          @include transition_default;
        }
      }

      svg {
        margin-right: 0.4em;
      }

      @media screen and (max-width: 768px) {
        padding: 0.5em 2em;
        font-size: 1.5em;
      }
    }
  }

  div.next-project {
    position: relative;
    background: $colors_white;

    div.cp-bg {
      position: absolute;
      background: $colors_midnight_primary;
      width: 50%;
      height: 100%;
      left: 50%;
      top: 0;

      @media screen and (max-width: 768px) {
        width: 100%;
        left: 0;
      }

      &.white {
        left: 0;
        background: $colors_white;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }

    div.columns {
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 3em;
      }

      div.column {
        padding-top: 0;
        padding-bottom: 0;

        &.cp-text {
          position: relative;
          color: $colors_white;
          background: $colors_midnight_primary;

          div.cp-texts {
            width: 100%;
            padding-right: 3em;
            font-size: 1.125em;

            @media screen and (min-width: 769px) {
              position: absolute;
              bottom: 2.25em;
              left: 2.5em;
            }

            h6 {
              font-size: 3.5vw;
              line-height: 1.2em;
              padding-top: 0.25em;
              @include Roobert_Medium;

              @media screen and (max-width: 768px) {
                font-size: 6vw;
                line-height: 1.2em;
              }
            }
          }
        }

        &.cp-img {
          padding-right: 0;

          @media screen and (max-width: 768px) {
            padding-top: 3em;
          }

          img {
            display: table;
            max-width: 504px;

            @media screen and (max-width: 768px) {
              width: 100%;
              max-width: unset;
            }
          }
        }
      }
    }
  }
}

div.video-overlay {
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba($colors_midnight_primary, 0.96);
  z-index: 100;
  cursor: pointer;
  transition: all 0.2s ease-out;

  div.cp-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);

    a {
      display: block;
      text-align: right;
      margin-right: -0.15em;
      color: $colors_white;
      font-size: 2em;
    }

    & > div {
      height: calc(100% - 3em);

      ifram {
        height: calc(100% - 3em);
      }
    }
  }
}
